/*
 * Use font-size with line-height
 *
 * p
 *   font-size 16px/1.5
 *
 * produces
 *
 * p {
 *   font-size: 16px;
 *   line-height: 1.5;
 * }
 *
 */
font-size(args...)
	args = '' + args
	comments_pattern = "\/\*.+\*\/"
	comments = match(comments_pattern, args)
	args2 = replace(comments_pattern, unquote(''), args)
	a = split("/", args2)
	font-size: unquote(a[0]) + unquote(comments || '')
	line-height: unquote(a[1]) if a[1]
