/*
 * Font-face generator
 */
font-face($name, $file, $path = '', $weight = normal, $style = normal)
	$fontspath ?= './' /* should be global */
	@font-face
		font-family $name
		font-weight $weight
		font-style $style
		src: local('☺'), url($fontspath+$path+$file\.woff) format('woff')
