@import 'nib/font-face'
$fontpath = '/assets/fonts'
font-face(Expletus Sans, ExpletusSans-Regular, Expletus_Sans)
font-face(Expletus Sans, ExpletusSans-BoldItalic, Expletus_Sans, bold, italic)

body
	font-family Expletus Sans
h2
	font-family Expletus Sans
	font-weight bold
	font-style italic
