@font-face {
  font-family: ExpletusSans;
  font-weight: normal;
  font-style: normal;
  src: local('☺'), url("https://fonts.gstatic.com/s/expletussans/v9/gegTSDBDs5le3g6uxU1ZsXt9r5m2YmP5sw3cUAQwL0E.woff") format('woff');
}
@font-face {
  font-family: ExpletusSansBoldItalic;
  font-weight: bold;
  font-style: italic;
  src: local('☺'), url("https://fonts.gstatic.com/s/expletussans/v9/sRBNtc46w65uJE451UYmW8PyqN-ucfDDCRJHsPzxxN0.woff") format('woff');
}
body {
  font-family: "ExpletusSans", sans-serif;
}
h2 {
  font-family: "ExpletusSansBoldItalic", sans-serif;
  font-weight: bold;
  font-style: italic;
}
